* {
  box-sizing: border-box;    
}

body {
  font-family: 'Nunito', sans-serif;
  /*reference:https://fonts.google.com/specimen/Nunito?sidebar.open&selection.family=Nunito;*/
  margin: 0;
  
  background-color: #F8F8F8;
  padding: 0;
}


/*navigation start*/

.Melody_nav:hover{
  color:#EBCA94;

 }
 #Melody_logo{
    font-size: 24px;
    color: #272727;

 }

 #Melody_logo:hover{
  color:#EBCA94;
 }


.ModularPatternElements-header_nav{

display:flex;
justify-content: flex-start;

font-size: 18px;

align-items: center;

}


.ModularPatternElements-header{
background-color:#FEEBEB;
display:flex;
justify-content: space-between;
}

.ModularPatternElements-header_icon i{

border-radius: 50%;
font-size:15pt;
padding:0.5em;
}

.ModularPatternElements-header_icon{
flex-basis:20%;
flex-grow: 1;
display:flex;
justify-content: flex-end;
align-items: center;
}

.ModularPatternElements-header_icon div{

margin-left: 1em;
margin-right: 1em;
}

.ModularPatternElements-header_icon div a{

text-decoration:none;
color:black;
}

.ModularPatternElements-header_nav a{
color:black;
text-decoration:none;
padding:0.5em 0.5em;
}



#wholeModularPatternElements{
  background-color: white;
}

/*navigation end*/









/*product list start*/
/*product list submenu start*/
.ModularPatternElements-submenu_nav{
font-size: 18px;
text-align: center;
margin-top: 3%;
}

.ModularPatternElements-submenu_nav a{
color:black;
text-decoration:none;
padding:2em 0.5em;
}

.submenu_nav:after {
content: " ";
border-left: 2px solid #000;
margin-left: 12px;

}

.submenu_nav:hover{
color:#EBCA94;
}

.submenu_nav2:hover{
color:#EBCA94;
}


.product_list{
display:flex;
justify-content: center;
margin-top:3em;
text-align:center;
}

.list_img{
width: 70%;
}

.list_img:hover{
 
transform: scale(1.1);

}

.list_img{
transition: all 0.6s;
}

.text a:hover{
color: #EBCA94;

}

.text a{
color: #272727;
text-decoration: none;
}


.list_img:hover{
 
  transform: scale(1.1);

}

.price a {
text-decoration: none;
color: #272727

}

.price a:hover{
color: #EBCA94;

}


@media screen and (max-width:500px){

.product_list{
    flex-direction: column;
}

.ModularPatternElements-submenu_nav{
font-size: 18px;
text-align: center;
margin-top: 10%;
}

}




/*product list end*/

/*footer part start*/



.footer_link a{
  display: block;
}


.footer_part{
  background-color: #FEEBEB;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  margin-top: 3%;

}

.footer_part h4 {

  text-align: center;



}


.footer_part a{
  text-decoration: none;
  color: black;

}

.footer_part_middle div{
  margin-top: 4%;
  text-align: center;
}
.footer_part_right div{
  padding-left: 25%;
}


.footer_part{
  display: flex;
}

.footer_part div{
  flex-basis: 50%;

}


 @media screen and (max-width:500px){
 
.footer_part a{
  text-decoration: none;
  color: black;
  font-size: 6pt;

}

 .footer_part_middle div{
 
  font-size: 6pt;
  margin-top: 15%;
}

}


/*footer part end*/




/*contact page new start*/




.about_page{
  display:flex;
  justify-content: center;
  margin-left: 8%;
   margin-right: 8%;
    margin-top:3em;
  text-align:center;

}

.about_page a{
  color:black;
}

.about_right{
  text-align: left;

}


.about_left{
  text-align: left;


}



.about_page>div{
  /*border:1px solid red;*/
  flex-basis: 50%;
  margin:0 1em;


}

.about_page>div img{
  width:95%;
}



#nameInput {
outline: none;
border-color: black;
border: 1px solid black;   

width:95%;

height: 5vh;
margin-top: -6%;
background-color: #FFF9F9;

}


#emailInput {
outline: none;
border-color: black;
border: 1px solid black;   

width:95%;

height: 5vh;
margin-top: -6%;
background-color: #FFF9F9;


}



#msgInput {
outline: none;
border-color: black;
border: 1px solid black;   

width:95%;

height: 20vh;
margin-top: -1%;
background-color: #FFF9F9;


}


#subjectInput {
outline: none;
border-color: black;
border: 1px solid black;   

width:95%;

height: 5vh;
margin-top: -6%;
background-color: #FFF9F9;


}


/*reference https://www.w3schools.com/tags/tag_input.asp*/


@media screen and (max-width:1000px){

.about_page{
    flex-direction: column;
}

.about_page>div img{
  width:100%;
}

.contact_form {
padding-top: 10%;
padding-bottom: 8%;

}

}



.button{
  margin-top: 7%;
  margin-bottom: 2%;
}

.comments_button_about{
     background-color: #EBCA94;
     padding:0.5em 2em;
     color: #FDFBFB;
     text-decoration:none;

     border-radius:15px;

       border: 2px solid #FDFBFB;
       margin-bottom: 3%;




 }

 .contact_comments_button:hover{
     background-color: #FDFBFB;
       border-radius:15px;
     color: #EBCA94;
     transition: all 0.5s;
     border: 2px solid #EBCA94;

 }


 .cart_comments_button:hover{
     background-color: #FDFBFB;
       border-radius:15px;
     color: #EBCA94;
     transition: all 0.5s;
     border: 2px solid #EBCA94;

 }

 .contact_comments_button{

  justify-content: center;

    background-color: #EBCA94;
     padding:0.5em 2em;
     color:#FDFBFB;
     text-decoration:none;

     border-radius:15px;

     border: 2px solid #EBCA94;
}

 .cart_comments_button{

  justify-content: center;

    background-color: #EBCA94;
     padding:0.5em 2em;
     color:#FDFBFB;
     text-decoration:none;

     border-radius:15px;

     border: 2px solid #EBCA94;
     margin-bottom: 3%;
}






.contact_form{
  margin-top: 0%;
  /*border:2px solid red;*/

}


.submit_button {
background-color: white;
font-size: 16px;
color: #272727;       
padding-left: 2em;
padding-right: 2em;
border-color: #272727;    
border-radius: 15px;
outline: none;
}

.submit_button:hover {
color: #EBCA94;
border: 2px solid #EBCA94;
}

.button {
margin-top:8%;
text-align: center;
}
/*contact page end*/




/*cart update start*/



.cartPage_cart{
  width:90%;
  margin:auto;
  /*border:1px solid red;*/
  margin-top: 3%;
}

.item{
  text-align: left;
}

.cart_img{
  width: 50%;

  margin-left: -80%;

  
}

.remove_button{
  text-decoration: underline;
}

.remove_button:hover{
   color: #EBCA94;


}


.line{
  width: 90%;
}


.checkOut_button{
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
}


.cartPage_cart_list{
  width:100%;
}

.cartPage_cart_list td{
  text-align:center;
}


.cart_img{
  width:120px;
  margin-top: 10%;
}



.total_price_part{
  text-align: right;
  margin-right:5%;
}



@media screen and (max-width:1200px){

  .cart_img{
  width: 50%;

  margin-left: -50%;
  }
  
}


@media screen and (max-width:500px){

  .cart_img{
  width: 50%;

  margin-left: -50%;

  
}

.total_price_part{
  margin-top: 6%;


}

.comments_button_about{
  margin-bottom: 20%;
}


.cart_comments_button{
  font-size: 10pt;
  margin-bottom: 10%;
}

}





/*cart update end*/



/*new nav phone view start*/

.phoneView_nav{
    display:none;
 }


 .phoneView_nav i{
    color:#FFA8A8;
    font-size:22pt;
    
    margin:2%;
    margin-left: 5%;
  

 }


@media screen and (max-width:450px){
  .ModularPatternElements-header nav{
   flex-direction: column;
  }

    .ModularPatternElements-header_nav a{
    display: block;
  }

  .ModularPatternElements-header_nav a{
   width:100%;
   text-align:center;
  }

    .ModularPatternElements-header{
    padding-top: 2%;
    padding-bottom: 2%;
  }





  .phoneView_nav{
    display:block;
  }



  .ModularPatternElements-header_nav{
    display: none;
  }

  .ModularPatternElements-header:hover nav{
    display:block;
    /*font-size:20pt;*/
  }



 .ModularPatternElements-header_icon{
  justify-content: space-between;
 }


 .ModularPatternElements-header{
  flex-direction: column;
}

.ModularPatternElements-header_icon{
  display: none;
}





  .ModularPatternElements-header:hover .icon_part_nav{
    display:flex;
  
  }
  
 }




/*new nav phone view end*/













